<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h4>GET Request</h4>
    <form method="get" action="~/Name.cshtml">
        <input type="text" name="name" />
        <input type="submit" />
    </form>    
    <h4>POST Request</h4>
    <form method="post" action="~/Name.cshtml">
        <input type="text" name="name" />
        <input type="submit" />
    </form>
</body>
</html>